#contacts, #info, #home {
  height: 100vh;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in {
  0% {
    right: -40%;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    right: 5%;
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    right: -40%;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    right: 5%;
    opacity: 1;
  }
}
#home {
  flex-flow: column;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
#home div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#home div img {
  max-width: 20%;
}
#home div #name {
  font-size: 6rem;
  font-size: 5vw;
  text-transform: uppercase;
}
#home ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 95%;
}
#home ul li {
  font-size: 1.8rem;
  font-size: 1.5vw;
  margin-right: 2vw;
  text-transform: uppercase;
}

#price {
  display: none;
}

#contacts {
  flex-flow: column;
}
#contacts form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
}
#contacts form div {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-left: auto;
  width: 40%;
}
#contacts form div#message {
  width: 60%;
  font-size: 1.2rem;
}
#contacts form div#message label {
  font-size: 1.2rem;
}
#contacts form div#message textarea {
  font-size: 1.2rem;
  min-height: 60%;
  max-height: 95%;
  min-width: 100%;
  max-width: 100%;
}
#contacts form div div {
  width: 90%;
  margin-bottom: 10%;
  margin-right: auto;
}
#contacts form div div label {
  font-size: 1.2rem;
}
#contacts form div div input {
  font-size: 1.2rem;
}
#contacts form div div button {
  position: relative;
  float: inline-end;
}

header {
  width: 40vw;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 5;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav li {
  list-style: none;
  text-transform: uppercase;
}
header nav li + li::before {
  content: "";
  margin: 15px;
}
header nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.1vw;
  padding: 5px 15px;
  border-radius: 20px;
}
header nav li a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
header nav li a.active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#footer {
  margin-top: 20px;
  width: 100%;
  border-top: 2px solid black;
}
#footer h4 {
  font-size: 1.5rem;
}
#footer h4.left {
  position: relative;
  clear: left;
  float: left;
}
#footer h4.right {
  position: relative;
  clear: right;
  float: right;
}
#footer h4 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
}

*, *:after, *:before {
  box-sizing: inherit;
  font-size: 1rem;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}
body .wrapper {
  width: 90vw;
  margin: auto;
}

.inactive {
  display: none;
}/*# sourceMappingURL=style.css.map */